<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Plower BI License</title>
<script src="js/shared/jquery.js"></script>
<script src="js/shared/bootstrap.js"></script>
<script src="js/shared/angular.js"></script>
<script src="js/shared/angular-route.js"></script>
<script src="js/user/Properties.js"></script>
<script src="js/user/app.js"></script>
<script src="js/user/controllers.js"></script>


</head>
<body ng-app='application'>
<div ng-controller='pbilicensecontroller'>
<h1>PowerBI License Request Page</h1>
<div>
	<form ng-submit="validateInputs()">
		<h4>Please enter email in given format</h4>
		<br>
		<table>
		      <tr>
		      	<td><input type="text" placeholder="aliasname" ng-model="aliasName" required="required" >
		      	<td><h4>@</h4>
		      	<td><select ng-model="domainName" required="required">
		      			<option value="" selected disabled>--Secect Your Domain--</option>
		      			<option value="AR" >AR</option>
		      			<option value="BR" >BR</option>
		      			<option value="CA" >CA</option>
		      			<option value="CAM" >CAM</option>
		      			<option value="CL" >CL</option>
		      			<option value="CN" >CN</option>
		      			<option value="EMEA" >EMEA</option>
		      			<option value="HOMEOFFICE" >HOMEOFFICE</option>
		      			<option value="IN" >IN</option>
		      			<option value="JP" >JP</option>
		      			<option value="MX" >MX</option>
		      			<option value="PR" >PR</option>
		      			<option value="UK" >UK</option>
		      			<option value="US" >US</option>
		      			<option value="WMCT" >WMCT</option>
		      			<option value="WMSC" >WMSC</option>
		      		</select>
		      	<td><h4>.wal-mart.com</h4>
		</table>
		<div>Type of License:-  <input type="radio" name="licensetype" value="Free" ng-model="user.typeOfLicense" required="required">Free  <input type="radio" name="licensetype" value="Pro" ng-model="user.typeOfLicense" required="required">Pro</div>
		<div style="height: 28px; "></div>
		<div><button>submit</button></div>
	</form>
</div>
<div ng-show="showReconfirm"></div>
<div ng-bind="returneMessage"></div>
</div>
</body>
</html>