<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Plower BI License</title>
<script src="js/shared/jquery.js"></script>
<script src="js/shared/bootstrap.js"></script>
<script src="js/shared/angular.js"></script>
<script src="js/shared/angular-route.js"></script>
<script src="js/user/Properties.js"></script>
<script src="js/user/app.js"></script>
<script src="js/user/controllers.js"></script>


</head>
<body ng-app='application'>
<div ng-controller='pbilicensecontroller'>
<h1>PowerBI License Request Page</h1>
<div ng-hide="showReconfirm">
	<form ng-submit="reConfirmFunction()">
		<h4>Please enter email in given format</h4>
		<br>
		<table>
		      <tr>
		      	<td><input type="text" placeholder="aliasname" ng-model="user.aliasName" required="required" >
		      	<td><h4>@</h4>
		      	<td><select ng-model="domainName" required="required">
		      			<option value="" selected disabled>--Secect Your Domain--</option>
		      			<option ng-repeat="name in domainNameList" ng-value="name">{{name}}</option>
		      		</select>
		      	<td><h4>.wal-mart.com</h4>
		</table>
		<div>Type of License:-  <input type="radio" name="licensetype" value="Free" ng-model="user.typeOfLicense" required="required">Free  <input type="radio" name="licensetype" value="Pro" ng-model="user.typeOfLicense" required="required">Pro</div>
		<div style="height: 28px; "></div>
		<div><button>Confirm</button></div>
	</form>
</div>
<div ng-show="showReconfirm">
	<form ng-submit="reConfirm()">
		<h4>Please re confirm your details</h4>
		<br>
		<table>
		      <tr>
		      	<td><input type="text" placeholder="aliasname" ng-model="reConfirmedUser.aliasName" required="required" >
		      	<td><h4>@</h4>
		      	<td><select ng-model="reConfirmedDomainName" required="required">
		      			<option value="" selected disabled>--Secect Your Domain--</option>
		      			<option ng-repeat="name in domainNameList" ng-value="name">{{name}}</option>
		          	</select>
		      	<td><h4>.wal-mart.com</h4>
		</table>
		<div>Type of License:-  <input type="radio" name="licensetype" value="Free" ng-model="reConfirmedUser.typeOfLicense" required="required">Free  <input type="radio" name="licensetype" value="Pro" ng-model="user.typeOfLicense" required="required">Pro</div>
		<div style="height: 28px; "></div>
		<div><button>Reconfirm&Submit</button></div>
	</form>
</div>
<div ng-bind="returneMessage"></div>
</div>
</body>
</html>